@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

:root {
    --roxo-escuro: #441f88;
    --roxo-claro: #5c20c6;
    --branco: #f9f9f9;
    --cinza: #cccccc;
    --preto:#171717;
}

body {
    background-color: var(--cinza);
}

header, footer {
    display: flex;
    width: 100%;
    height: 60px;
    color: var(--branco);
    align-items: center;
    position: fixed;
    padding: 10px 10%;
    font-weight:bold ;
}

header {
    justify-content: space-between;
    background-color: var(--roxo-escuro);
    top: 0;
}

nav {
    display: flex;
    gap: 10px;
}

main {
display: flex;
flex-direction: column;
}

footer {
    background-color: var(--roxo-claro);
    bottom: 0;
    justify-content: center;
}

/* section {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 50px;
    text-align: center;
    justify-content: center;
    width: 50vw;
    background-color: red;
} */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introducao {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 16px;
    margin: 30px 0;
    justify-content: center;
}

.introducao > div {
    width: 500px;
}

.introducao-conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.introducao-conteudo > h2 {
    font-size: 2.5em;
}

.introducao-conteudo > h3 {
    font-size: 1.1em;
}

.introducao-conteudo > p {
    text-align: center;
}

.introducao-conteudo > button {
    width: 200px;
}

.sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: center;
    padding: 0 300px;

}

.conteudo-sobre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    gap: 30px;
}

.conteudo-sobre > h2 {
    font-size: 2.5em;
}

.conteudo-sobre > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.sobre > div > img {
    height: 350px;
    border-radius: 50%;
    border: 4px solid var(--roxo-claro);
}


h1,h2,h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    
}

form > button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}

input, textarea {
    border-radius: 15px;
    margin-bottom: 10px;
    width: 300px;
    border-style: none;
}

button {
    background-color: var(--roxo-claro);
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    font-size: 0.85em;
    border-style: none;
}


#redes > a {
    display: flex;
    justify-content: center;
}

#redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.redes {
    width: 60%;
    height: auto;
}

.redes-sociais > button{
    width: 100px;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.link:hover {
    color: black;
}

#contate-me {
    text-align:left;
}

.contate-me {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 0;
}

.contato-conteudo {
    width: 600px;
}





