@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

:root {
    --roxo-escuro: #441f88;
    --roxo-claro: #5c20c6;
    --branco: #f9f9f9;
    --cinza: #cccccc;
    --preto:#171717;
}

body {
    background-color: var(--cinza);
}

header, footer {
    display: flex;
    width: 100%;
    height: 60px;
    color: var(--branco);
    align-items: center;
    position: fixed;
    padding: 10px 10%;
    font-weight:bold ;
}

header {
    justify-content: space-between;
    background-color: var(--roxo-escuro);
    top: 0;
}

nav {
    display: flex;
    gap: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 100px 20% 0px 20%;
}

footer {
    background-color: var(--roxo-claro);
    bottom: 0;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 30px;
    text-align: center;
    margin: 30px 0;
    height: 500px;
}



h1,h2,h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    
}

form > button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}

button {
    background-color: var(--roxo-claro);
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    font-size: 0.85em;
}


#redes > a {
    display: flex;
    justify-content: center;
}

#redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.redes {
    width: 60%;
    height: auto;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.link:hover {
    color: black;
}

#contate-me {
    text-align:left;
}

.contate-me > * {
    margin-top: 10px;
}

img {
    height: 300px;
    width: 300px;
}

input, textarea {
    border-radius: 15px;
    margin-bottom: 10px;
    width: 300px;
}
